/* Top Nav bar*/
.top-nav {
    z-index: 100;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    font-size: 4rem;
    height: 8rem;
    transition: 0.2s all ease-out;
}

.top-nav > div {
    margin: 0.5rem;
}

.top-nav__links {
    display: none;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
}

.top-nav__links a {
    padding: 1% 5%;
    transition: 0.1s all ease-in-out;
}

.top-nav__links a:hover {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 2rem;
    transition: 0.1s all ease-in-out;
}

/* Dropdown menu*/
.hamburger {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 2rem;
    top: 2rem;
    width: 6rem;
    border-radius: 4rem;
    padding: 1rem;
    cursor: pointer;
    transition: 0.15s all ease-out;
}

.top-nav.scrolled .hamburger {
    background: #ffa24f;
    transition: 0.15s all ease-out;
}

.bar1, .bar2, .bar3 {
    background: black;
    height: 3px;
    margin: 0.4rem 0;
    transition: 0.5s;
}

.bar1, .bar3 {
    width: 65%;
}

.bar2 {
    width: 90%;
}

.hovered .bar1 {
    width: 40%;
}

.hovered .bar2 {
    width: 65%;
}

.hovered .bar3 {
    width: 90%;
}

/* Toggle dropdown menu */

.dropdown-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    padding-top: 8rem;
    background: #ffa24f;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.nav-dropdown.toggled .dropdown-container {
    display: flex;
}

.dropdown-container {
    -webkit-animation: slide-in 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    a {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        padding: 1.5rem;
        width: 100%;
        transition: 0.25s all ease-out;
    }
    a:hover {
        background:#ffb06a;
        transition: 0.25s all ease-out;
    }
    span {
        width: 75%;
    }

    .dropdown-link-separator {
        width: 75%;
        height: 1px;
        background: rgba(0, 0, 0, 0.15);
    }
}

.nav-dropdown.fade .dropdown-container {
    -webkit-animation: slide-out 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-out 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0.25;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0.25;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0.25;
    }
}

@keyframes slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0.25;
    }
}

/* Media queries */
@media (min-width: 600px) {
    .hamburger {
        display: none;
    }

    .top-nav {
        position: sticky;
    }

    .top-nav__links {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .top-nav.scrolled {
        background: rgb(255, 173, 91);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        transition: 0.2s all ease-out;
    }
}