.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.home__main-panel {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 85%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 18px rgba(46, 54, 68, 0.15);
    border-radius: 5rem;
    padding: 2rem;
}

.home__upper {
    display: flex;
    justify-content: center;
}

.home__profile {
    display:flex;
    flex-direction: column;
    align-items: center;
    .home__profile-intro {
        width: 100%;
        font-size: 2.5rem;
        span {
            font-family: 'Source Serif Pro', serif;
            font-weight: 700;
            font-size: 5rem;
        }
    }
    .home__profile-image {
        width: 80%;
        border-radius: 3rem;
        border-right: 10px solid #ffa24f;
        border-bottom: 10px solid #ffa24f;
        img {
            width: 100%;
            border-radius: 2rem;
            border-right: 10px solid #ffa24f;
        }
    }
}

.home__blurbs {
    display: flex;
    align-items: center;
    .home__upper-blurb {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
        width: 100%;
        span {
            font-family: 'Source Serif Pro', serif;
            font-weight: 700;
            font-size: 4rem;
        }
    }
    .home__lower-blurb {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
        width: 100%;
        span {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            background: #ffa24f;
        }
    }
    .home__upper-blurb::after,
    .home__lower-blurb::after {
        display: flex;
        position: relative;
        content: '';
        background: #111;
        width: 8rem;
        height: 2px;
    }
}

.home__lower {
    display: flex;
    justify-content: center;
    margin: 7.5rem;
    font-size: 2rem;
}

.home__profile, .home__blurbs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.home__profile {
    max-width: 30rem;
}

.home__blurbs {
    max-width: 45rem;
}

.guide__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: 6rem;
    height: 4000px;
    bottom: -3735px;
    .guide__ball {
        width: 6rem;
        height: 6rem;
        border-radius: 6rem;
        background: #ffa24f;
    }
    .guide__line {
        width: 4px;
        height: 100%;
        background: #ffa24f;
    }
}

// MEDIA QUERIES --------------------

@media (min-width: 600px) {
    .home__main-panel {
        width: 80%;
        height: 80%;
    }

    .home__container {
        align-items: flex-start;
    }
}