.pages {
  display: flex;
  flex-direction: column;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.pages section {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  min-height: 100vh;
  background-color: #092327;
  color: rgb(234, 245, 173);
}

.pages section:nth-child(2n) {
  background-color: #051622;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
