.hidden {
    display: none;
}

.fade-out {
    pointer-events: none;
    animation: 4s fade ease-out;
}

@keyframes fade {
    0% {
        filter: opacity(1);
    }

    50% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

.page__loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgb(37, 36, 36);
}

.loader__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 12rem;
    height: 12rem;
    margin-left: -6rem;
    margin-top: -6rem;
}

.loader__header {
    text-align: center;
    font-size: 4rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: 12px;
    color: #ffa24f;
}

.loader__image {
    animation: 1.5s clip ease-in-out;
}

@keyframes clip {
    0% {
        clip-path: polygon(30% 100%, 70% 100%, 100% 100%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 0);
    }
}

/* PAGE STYLING ------------------------- */

.page__wrapper {
    position: relative;
}

.banner {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Top Nav bar*/
.topnav {
    z-index: 100;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    font-size: 4rem;
    height: 8rem;
}

.topnav > div {
    margin: 0.5rem;
}

.topnav__links {
    display: none;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
}

.topnav__links a {
    padding: 1% 5%;
    transition: 0.1s all ease-in-out;
}

.topnav__links a:hover {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 2rem;
    transition: 0.1s all ease-in-out;
}

/* Side Nav bar*/
.sidenav {
    display: none;
    flex-direction: column;
    position: sticky;
    width: 2rem;
    left: 100%;
    top: 50%;
}

.sidenav div {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    background: #111;
    border-radius: 1.5rem;
}

/* Dropdown menu*/
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
}

.bar1, .bar2, .bar3 {
    background: black;
    height: 3px;
    margin: 0.4rem 0;
    transition: 0.5s;
}

.bar1, .bar3 {
    width: 65%;
}

.bar2 {
    width: 90%;
}

/* Hover dropdown animation */
.hovered .bar1 {
    width: 40%;
}

.hovered .bar2 {
    width: 65%;
}

.hovered .bar3 {
    width: 90%;
}

/* Toggle dropdown menu */

/* Overall content */

.container {
    display: flex;
    flex-direction: column;
	height: 100vh;
	overflow-y: scroll;
    scroll-behavior: smooth;
}

.pages section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(0, 0, 0);
}

.pages section:last-child {
    min-height: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries */
@media (min-width: 600px) {
    .topnav {
        position: sticky;
    }
    .topnav__links {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}