.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.home__main-panel {
    position: relative;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 85%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 18px rgba(46, 54, 68, 0.15);
    border-radius: 5rem;
    padding: 2rem;
}

.home__upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 55%;
    padding: 0 1rem;
    .home__profile-intro {
        font-size: clamp(2rem, 2.5vw, 3rem); 
        padding: 1rem;
        span {
            font-family: 'Source Serif Pro', serif;
            font-weight: 700;
            font-size: clamp(4rem, 5vw, 4.5rem); 
        }
    }
    .home__profile-image {
        width: 60%;
        max-width: 20rem;
        img {
            border-radius: 2rem;
        }
    }
}

.home__blurbs {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    .home__upper-blurb,
    .home__lower-blurb {
        margin: 0.25rem 0;
    }

    .home__upper-blurb {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: clamp(2rem, 2.5vw, 3rem); 
        width: 100%;
        text-align: center;
        span {
            font-family: 'Source Serif Pro', serif;
            font-weight: 700;
            font-size: clamp(4rem, 5vw, 4.5rem); 
        }
    }
    .home__lower-blurb {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: clamp(1.5rem, 2.5vw, 3rem); 
        width: 100%;
        text-align: left;
        line-height: 135%;
        span {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            background: #ffa24f;
        }
    }
    .home__upper-blurb::after,
    .home__lower-blurb::after {
        display: flex;
        position: relative;
        content: '';
        background: #111;
        width: 4rem;
        height: 1px;
        margin: 1.5rem;
    }
}

.home__lower {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 
}

.guide__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: 6rem;
    height: 4000px;
    bottom: calc(-3875px - 3%);
    .guide__ball {
        width: 4rem;
        height: 4rem;
        border-radius: 6rem;
        background: #ffa24f;
    }
    .guide__line {
        width: 4px;
        height: 100%;
        background: #ffa24f;
    }
}

// MEDIA QUERIES --------------------

@media (min-width: 600px) {
    .home__main-panel {
        width: 80%;
        max-width: 1200px;
        height: 80%;
    }

    .home__container {
        align-items: flex-start;
    }
}

@media (min-width: 900px) {
    .home__main-panel {
        justify-content: space-around;
    }

    .home__upper {
        flex-direction: row;
        .home__profile {
            min-width: 300px;
        }
    }

    .home__lower-blurb p {
        width: 75%;
        text-align: right;
    }
    
}