.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projects__header {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 6rem;
    margin-top: 4rem;
    background: #ffa24f;
    border-left: 8px solid #222;
    border-right: 8px solid #222;
    font-family: 'Railway', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
}

.project__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.project__wrapper:nth-child(2n) {
    flex-direction: row-reverse;
}

.project__wrapper:nth-child(2n) .project__media {
    left: -12rem;
}

.project__wrapper:nth-child(2n) .project__info {
    left: 12rem;
}

.project__media {
    position: relative;
    left: 12rem;
    z-index: 2;
    width: 70%;
    height: 60%;
    background: rgb(37, 36, 49);
    border: 4px solid #ffa24f;
    border-radius: 8px;
    box-shadow: 4px 8px 32px rgba(27, 34, 44, 0.5);
}

.project__info {
    position: relative;
    left: -12rem;
    z-index: 1;
    width: 75%;
    height: 75%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 18px rgba(46, 54, 68, 0.15);
    border-radius: 5rem;
    padding: 2rem;
}

@media (min-width: 900px) {
    .project__wrapper {
        width: 80%;
    }
}