.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projects__header {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 6rem;
    margin-top: 6rem;
    background: #ffa24f;
    border-left: 8px solid #222;
    border-right: 8px solid #222;
    font-family: 'Railway', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
}

.project__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.project__wrapper .project__media {
    top: 4rem;
}

.project__wrapper .project__info {
    top: -4rem;
}

.project__media {
    position: relative;
    z-index: 3;
    width: clamp(85%, 350px, 700px);
    background: rgb(37, 36, 49);
    border: 4px solid #ffa24f;
    border-radius: 8px;
    box-shadow: 4px 8px 32px rgba(27, 34, 44, 0.5);
}

.project__links {
    z-index: 4;
    position: absolute;
    top: -1rem;
    left: 3.5rem;
    font-weight: 700;
    height: 4rem;
    font-size: 1.5rem;
    a {
        border-radius: 4px;
        padding: 1rem;
        margin-right: 1rem;
        background:#ffa24f;
    }
}

.project__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 800px;
    height: 50vh;
    max-height: 35rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-clip: padding-box;
    box-shadow: 10px 10px 18px rgba(46, 54, 68, 0.15);
    border-radius: 5rem;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 3rem); 
}

.project__info > div {
    margin: 1rem;
}

.project__title {
    align-self: center;
    font-size: clamp(3rem, 3vw, 5rem); 
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    margin: 0.5rem;
}

.project__title-separator {
    align-self: center;
    width: 6rem;
    height: 1px;
    background: black;
}

.project__subtitle {
    line-height: 125%;
    margin: 1rem 0;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem); 
}

.project__languages {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    background: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    font-weight: 700;
    padding: 0.5rem 0;
}

// ------------------------

@media (min-width: 750px) {
    .project__media {
        max-width: 75%;
    }
}

@media (min-width: 900px) {
    .project__wrapper {
        flex-direction: row;
        max-width: 1500px;

        .project__info {
            height: 80%;
            max-height: 80%;
        }
    }

    .project__wrapper:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .project__wrapper .project__info > div {
        align-self: flex-end;
    }

    .project__wrapper:nth-child(2n) .project__info > div {
        align-self: flex-start;
    }

    .project__wrapper .project__media {
        height: 40%;
        min-height: 250px;
        top: 0;
        left: 10vw;
    }

    .project__wrapper .project__info {
        justify-content: space-around;
        top: 0;
        left: -10vw;
    }

    .project__title-separator {
        align-self: flex-start;
    }

    .project__info > div {
        width: 60%;
        max-width: 350px;
    }

    .project__wrapper:nth-child(2n) .project__media {
        left: -10vw;
    }

    .project__wrapper:nth-child(2n) .project__info {
        left: 10vw;
    }

    .projects__header {
        margin-top: 8rem;
    }
}

@media (min-width: 1200px) {
    .project__wrapper .project__media {
        height: 50%;
        min-height: 400px;
        top: 0;
        left: 10vw;
    }

    .project__wrapper .project__info {
        justify-content: space-around;
        top: 0;
        left: -10vw;
    }
}