.skills__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
}

.skills__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    background: #fefefe;
    padding: 2rem;
}

.skills__panel::before,
.skills__panel::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 6rem;
    background: #FFA24F;
}

.skills__panel::before {
    top: -4rem;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
}

.skills__panel::after {
    bottom: -4rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
}

.skills__left, .skills__right {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: relative;
    width: 100%;
    height: 80%;
    margin: 2rem;
    padding: 1rem;
    border-radius: 3rem;
    background: white;
    border: 4px solid #FFA24F;
}

.skills__left {
    bottom: 10%;
    border-left: 1.5rem solid #FFA24F;
    border-top: 1.5rem solid #FFA24F;
}

.skills__right {
    top: 10%;
    border-right: 1.5rem solid #FFA24F;
    border-bottom: 1.5rem solid #FFA24F;
}

.technologies,
.processes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 5vw, 4rem); 
}

.technologies {
    flex-direction: column;
}

.processes {
    flex-direction: column-reverse;
}

.process-grid,
.tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.process-grid {
    .skills__list-item {
        width: 10rem;
        height: 10rem;
    }
}

.tech-grid {
    .skills__list-item {
        width: 8rem;
        height: 8rem;
    }
}

.skills__list-item {
    border-radius: 2rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    img {
        border-radius: 1rem;
        
    }
    margin: 0.5rem;
}

.skills__line-box {
    z-index: -1;
    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: 3rem;
}

.skills__left .skills__line-box {
    top: 40%;
}

.skills__right .skills__line-box {
    top: -20%;
}

@media (min-width: 900px) {
    .skills__left, .skills__right {
        width: 600px;
        height: 400px;
    }

    .tech-grid {
        .skills__list-item {
            width: 9rem;
            height: 9rem;
        }
    }

    .process-grid {
        width: 75%;
        .skills__list-item {
            width: 14rem;
            height: 14rem;
        }
    }

    .skills__left {
        right: 15%;
        top: 1rem;
    }
    
    .skills__right {
        top: -1rem;
        left: 15%;
    }
}

@media (min-width: 1200px) {
    .skills__left, .skills__right {
        width: 600px;
        height: 400px;
    }

    .skills__left {
        right: 22.5%;
        top: 1rem;
    }
    
    .skills__right {
        top: -1rem;
        left: 22.5%;
    }

    .skills__left .skills__line-box {
        left: 300px;
        // border-left: 4px solid #FFA24F;
        // border-bottom: 4px solid #FFA24F;
    }

    .skills__right .skills__line-box {
        right: 300px;
        // border-right: 4px solid #FFA24F;
        // border-top: 4px solid #FFA24F;
    }
}

@media (min-width: 1500px) {

    .skills__left, .skills__right {
        height: 450px;
    }
    
    .skills__left {
        right: 22.5%;
        top: 12rem;
    }
    
    .skills__right {
        top: -12rem;
        left: 22.5%;
    }
}